@media (max-width: 762px)
  .container
    width: 90%
  .main
    &-info
      &__title
        font-size: 70px
      &-social
        margin-top: 70px
      &-img
        right: -280px
      &-image
        top: 85%
  .info
    &-title
      width: 100%
      font-size: 22px
    &-service
      &__list
        width: 80%
        top: 180px
        line-height: 40px
        &-item
          font-size: 20px
    &-img
      display: none
    &-circle
      display: none
  .open
    left: 60px
  .thought
    height: 500px
    &-title
      font-size: 40px
      letter-spacing: -2px
    &-subtitle
      font-size: 19px
      letter-spacing: 0

    &-img
      &__left
        height: 400px
        top: 0
        left: 0

      &__right
        height: 400px
        top: 0
        right: 0
  .slider
    width: 80%
    &-slides
      &__slide
        &-img
          &__two
            display: none
  .feedback
    margin: 0px
    &-container
      padding-top: 0px
    &-wrapper
      width: 100%
      padding-top: 50px
    &-form
      &__group
        text-align: center
      &__input
        width: 80%
        height: 60px
        font-size: 19px
      &__button
        top: 387px
        left: 47px
      &__icon
        top: 390px
        left: 201px

    &-block
      &__plus
        top: 380px
        left: 40px
      &__minus
        top: 390px
        left: 180px
      &__set
        top: 380px
        left: 190px
      &__del
        &-one
          top: 380px
          left: 181px
        &-two
          top: 429px
          left: 181px

    &-img
      top: -20%
      left: -20%
  #formMessage
    margin-top: 70px
    margin-left: 0px





@media (max-width: 762px)
  .container
    width: 90%
  .main
    &-info
      &__title
        font-size: 70px
      &-social
        margin-top: 70px
      &-img
        right: -280px
      &-image
        top: 85%
  .info
    &-title
      width: 100%
      font-size: 22px
    &-service
      &__list
        width: 80%
        top: 180px
        line-height: 40px
        &-item
          font-size: 20px
    &-img
      display: none
    &-circle
      display: none
  .open
    left: 60px
  .thought
    height: 500px
    &-title
      font-size: 40px
      letter-spacing: -2px
    &-subtitle
      font-size: 19px
      letter-spacing: 0

    &-img
      &__left
        height: 400px
        top: 0
        left: 0

      &__right
        height: 400px
        top: 0
        right: 0
  .slider
    width: 80%
    &-slides
      &__slide
        &-img
          &__two
            display: none
  .feedback
    margin: 0px
    &-container
      padding-top: 0px
    &-wrapper
      width: 100%
      padding-top: 50px
    &-form
      &__group
        text-align: center
      &__input
        width: 80%
        height: 60px
        font-size: 19px
      &__button
        top: 387px
        left: 47px
      &__icon
        top: 390px
        left: 201px

    &-block
      &__plus
        top: 380px
        left: 40px
      &__minus
        top: 390px
        left: 180px
      &__set
        top: 380px
        left: 190px
      &__del
        &-one
          top: 380px
          left: 181px
        &-two
          top: 429px
          left: 181px

    &-img
      top: -20%
      left: -20%
  #formMessage
    margin-top: 70px
    margin-left: 0px


@media (max-width: 752px)
  .main
    &-info
      &__title
        font-size: 40px
      &__subtitle 
        font-size: 20px
    &-img 
      left: 260px

@media (max-width: 480px)
  .body
    overflow-x: hidden
  .container
    width: 90%
    margin: auto

  .header
    &-container
      width: 300px
    &-nav
      display: none
      position: absolute
      top: 60px /* отступ под шапкой */
      right: 0
      background: #000000
      border-radius: 50px
      text-align: center
      width: 200px
      box-shadow: 0 0 10px rgba(0,0,0,0.1)
      &__active
        display: block
      &__list
        flex-direction: column
        padding: 10px
        &-item
          margin: 10px 0

  .burger
    display: block

  .main
    &-wrapper
      width: 100%
    &-info
      &__title
        font-size: 35px
        margin-bottom: 0
        margin-top: 100px
      &__subtitle
        font-size: 19px
        margin-top: 10px
        margin-bottom: 100px
    &-social
      margin-top: 30px
    &-image
      top: 80%
    &-img
      height: 400px
      top: 0
      right: -40%
  .info
    &-title
      width: 100%
      font-size: 22px
    &-service
      &__list
        width: 80%
        top: 180px
        line-height: 35px
        &-item
          font-size: 16px
    &-img
      display: none
    &-circle
      display: none
  .open
    left: 60px
  .works
    margin-top: 100px
    &-title
      font-size: 38px
    &-img
      height: 200px
      top: 0%

  .thought
    height: 300px
    &-title
      font-size: 40px
      letter-spacing: -2px
    &-subtitle
      font-size: 19px
      letter-spacing: 0

    &-img
      &__left
        height: 200px
        top: 0
        left: 0

      &__right
        height: 200px
        top: 0
        right: 0
  .slider
    width: 80%
    &-slides
      &__slide
        &-img
          &__two
            display: none
  .feedback
    margin: 0px
    &-container
      padding-top: 0px
    &-wrapper
      width: 100%
    &-form
      &__input
        width: 80%
        height: 60px
        font-size: 19px
      &__button
        top: 357px
      &__icon
        top: 360px

    &-block
      &__plus
        top: 350px
      &__minus
        top: 360px
      &__set
        top: 350px
      &__del
        &-one
          top: 350px
        &-two
          top: 399px
    &-img
      top: 0
      left: -30%
  #formMessage
    margin-top: 70px
    margin-left: 0px
