.feedback
  height: 100vh
  position: relative
  margin-top: 100px
  &-container
    display: flex
    justify-content: end
    padding-top: 120px
  &-wrapper 
    position: relative
  &-img
    position: absolute
    left: 0
    top: 0
  &-form
    &__input
      font-family: Montserrat Alternates
      background-color: #3c3b3b
      outline: none
      border: none
      border-radius: 15px
      width: 580px
      height: 86px
      margin-bottom: 15px
      font-size: 24px
      padding-left: 58px
    &__button
      position: absolute
      left: 7px
      top: 457px
      font-family: 'Montserrat Alternates'
      font-weight: normal
      font-size: 16px
      z-index: 7
      padding: 15px 11px 18px 11px
      background-color: #242424
      width: 129px
      height: 52px
      border-radius: 50px
      border: none
      margin-left: 4px
    &__icon 
      position: absolute
      z-index: 7
      left: 161px
      top: 460px
  &-block
    display: flex
    justify-content: space-between
    position: relative
    width: 203px
    height: 65px
    display: flex
    padding: 7px
    &__plus
      position: absolute
      left: 0px
      top: 450px
      background-color: #3c3b3b
      width: 152px
      height: 65px
      border-radius: 50px
      z-index: 4
    &__minus
      position: absolute
      left: 140px
      top: 460px
      background-color: #3c3b3b
      width: 25px
      height: 42px
      z-index: 1
    &__set
      position: absolute
      left: 150px
      top: 450px
      border-radius: 50px
      width: 70px
      height: 70px
      background-color: #3c3b3b
      z-index: 4
    &__del
      &-one
        position: absolute
        left: 141px
        top: 450px
        width: 20px
        height: 16px
        border-radius: 60px
        background-color: #000000
        z-index: 3
      &-two
        position: absolute
        left: 141px
        top: 499px
        width: 20px
        height: 16px
        border-radius: 60px
        background-color: #000000
        z-index: 3
#formMessage 
  margin-top: 40px
  margin-left: 300px