.thought
  position: relative
  height: 100vh
  display: flex
  text-align: center
  &-title 
    font-family: Montserrat Alternates
    font-weight: normal 
    font-size: 110px
    letter-spacing: -8px
    margin: 0
  &-subtitle 
    font-family: Montserrat Alternates
    font-weight: 200
    font-size: 50px
    letter-spacing: -2px
    margin: 0
  &-img 
    &__left
      position: absolute
      left: 0
      top: -70px
    &__right
      position: absolute
      right: 0
      top: 30px