.company 
  &-container 
    display: flex 
    margin-bottom: 65px
  &-img 
    width: 660px
    height: 440px
    margin-top: 60px
  &-info 
    margin-left: 50px
    &__title
      font-size: 96px
      font-weight: 400
      margin: 0 0 43px 0
    &__subtitle 
      font-size: 22px
      font-weight: 400
      margin-bottom: 28px
    &__buttons
      display: flex
      flex-wrap: wrap
      list-style-type: none
      width: 100%  
      &-button 
        cursor: not-allowed
        background-color: #000000
        color: #fff
        display: flex
        justify-content: center
        align-items: center
        margin-right: 10px
        margin-bottom: 8px
        padding: 9px 30px 9px 16px
        font-size: 14px


// Стили для каждой кнопки
#btn-1
  width: 124px
#btn-2
  width: 107px
#btn-3 
  width: 128px
#btn-4 
  width: 97px
#btn-5 
  width: 97px
#btn-6 
  width: 96px
#btn-7 
  width: 85px
#btn-8 
  width: 106px
#btn-9 
  width: 93px
#btn-10 
  width: 96px
// ---------------------------