.utility
  &-container 
    padding-top: 99px
  &-title 
    font-size: 36px
    margin: 0
    padding: 6px 100px 14px 30px
    background-color: #000000
    color: #fff
    font-weight: normal
    width: 229px
    margin-bottom: 60px
  &-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    overflow: hidden
    &__box 
      padding: 29px 29px 35px 29px 
      margin-bottom: 60px 
      background-color: #0000000A
      &-img 
        transition: scale 400ms
        &:hover 
          scale: 105%
      &-title 
        font-size: 26px
        text-transform: uppercase
        margin: 13px 0 0 15px
        font-weight: normal

    